/* Reset */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
 font-family: Arial, sans-serif;
 background-color: #F7F1E5;
  color: #2e2300;
  font-size: 18px; /* Tamaño de fuente más grande */
  line-height: 1.6;
}


/* Header */
header {
 background-color: #C1C99A;
  color: #2e2300;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 20px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #54092A;
  text-decoration: none;
  font-weight: bold;
   transition: 0.3s;
}

header nav ul li a:hover {
  color: #ffdd57;
}

/* Contenedor principal */
main {
  padding: 20px;
}

/* Contenedor de tarjetas */
.pais-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
/* Tarjeta individual */
.pais {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: calc(25% - 20px); /* 4 tarjetas por fila */
  text-align: center;
  transition: transform 0.3s ease;
}

.pais:hover {
  transform: scale(1.03);
}

/* Imagen bandera y líder */
.bandera {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.lider {
  width: 100%;
  max-width: 120px;
  height: auto;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #BA5120;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}


/* Responsive */
@media (max-width: 1024px) {
  .pais {
    width: calc(33.33% - 20px); /* 3 por fila */
  }
}

@media (max-width: 768px) {
  .pais {
    width: calc(50% - 20px); /* 2 por fila */
  }
}

@media (max-width: 480px) {
  .pais {
    width: 100%; /* 1 por fila */
  }

}

